.body {
    padding: 10%;
}

.slider {
    appearance: none;
    width: 100%; /* Full-width */
    height: 15px; /* Specified height */
    background: #c4c1c1; /* Grey background */
    outline: none; 
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
  }

  